* {
    padding:0px;
    margin:0px;
}

.notic_board {
    height:450px;
    width:700px;
    background-color: maroon;
    color:#fff;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
    position:relative;
    top:90px;
    left:280px;
}

.result {
    height:200px;
    width:180px;
    background-color:white;
    position:relative;
    left:80px;
    top:200px; 
}


.snd_result {
    height:200px;
    width:180px;
    background-color: burlywood;
    position:relative;
    left:450px;
    top:0px;
}


.another_result {
    height:150px;
    width:300px;
    background-color:green;
    position:relative;
    left:200px;
    bottom:380px;
}  
        

